body {
    margin: 0;
}

body > .bodycontainer > table,
body > .bodycontainer > hr {
    display: none;
}

.gmail-hide {
    display: none;
}

.gmail-toggle {
    position: fixed;
    top: 5px;
    right: 5px;
}

@media print {
    .gmail-toggle {
        display: none;
    }
}
